%html
  :javascript
    function launchFullscreen(element) {
      if(element.requestFullscreen) {
        element.requestFullscreen();
      } else if(element.mozRequestFullScreen) {
        element.mozRequestFullScreen();
      } else if(element.webkitRequestFullscreen) {
        element.webkitRequestFullscreen();
      } else if(element.msRequestFullscreen) {
        element.msRequestFullscreen();
      }
    }
    function exitFullscreen() {
      if(document.exitFullscreen) {
        document.exitFullscreen();
      } else if(document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if(document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    }
  %audio{id:'dice_sound', src:random_dice_sound}
  %head
    %title Thornwatch Dice Roller
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
    / from https://github.com/daneden/animate.css:
    %link(rel="stylesheet" href="css/animate.min.css")
  %body
    %form{action:'/roll_results', method:'post'}
      %table.select_table.white_boxed
        %tr
          %td{style:'width:33%', margin:'auto'}
            %img.logo{src:'/images/logo.png', onclick:"launchFullscreen(document.documentElement);"}
          %td.white_boxed.valign{style:'width:66%', margin:'auto'}
            %table.select_table
              %tr
                %td.white_boxed
                  %input{type:'checkbox', name:'regular1', id:'regular1'}
                  %label{for:'regular1'} Regular die
                %td.white_boxed
                  %input{type:'checkbox', name:'regular2', id:'regular2'}
                  %label{for:'regular2'} Regular die
              %tr
                %td.white_boxed
                  %input{type:'checkbox', name:'regular3', id:'regular3'}
                  %label{for:'regular3'} Regular die
                %td.white_boxed
                  %input{type:'checkbox', name:'regular4', id:'regular4'}
                  %label{for:'regular4'} Regular die
              %tr
                %td.white_boxed
                  %input{type:'checkbox', name:'hero1', id:'hero1'}
                  %label{for:'hero1'} Hero die
                %td.white_boxed
                  %input{type:'checkbox', name:'hero2', id:'hero2'}
                  %label{for:'hero2'} Hero die
              %tr
                %table.select_table
                  %tr
                    %td.white_boxed.hcentered
                      %input.hcentered.roll_button{type:'submit', value:'Roll!', onsubmit:"document.getElementById('dice_sound').play()"}
