-# I might have time later to flesh this one out a bit
-# essentially, you have 2 options with moving forward (both include getting rid of tables)
-# flex-example: get rid of tables and use flex to layout all the things
-# position-example: get rid of tables and add a bit more positioning to finish out what you were doing
  -# my husband is a huge fan of positioning. He is a FE dev and really good at what he does. He said that he would be happy to work with you, and he thinks positioning all the things is fine. However, he (and I) warn, that 90% of other FE devs aren't ok with this. They think you should use things like flex for layout/position and only use positioning (like position: relative; left: 50px;) when absolutely neccessary.
  -# since you already have a good grip on the whole positioning thing, I thought you might prefer to go this route.
