%html
  %audio{id:'dice_sound', src:random_dice_sound, autoplay:'autoplay'}
  %script(src="js/app.js")
  %head
    - if @testing
      %button{style:'margin: 10 10 10 10', onclick:'Refresh()'} RELOAD PAGE
    %title Thornwatch Dice Roller
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
    / from https://github.com/daneden/animate.css:
    %link(rel="stylesheet" href="css/animate.min.css")
  %body
    %br
    %table.roll_table.visible
      - rolls = @roll_results.each_slice(3).to_a
      - ap rolls
      - rolls.each do |row|
        %tr.white_boxed
          - row.each do |r|
            - image = r.to_s == 'empty' ? 'empty.png' : "#{r.to_s}.svg"
            %td.black_boxed
              %img.result_image.animated.rotateIn{src:"/images/#{image}"}
      %tr
        %table.roll_table
          %tr
            %td.black_boxed
              %form{action:'die_select', method:'link'}
                %input.hcentered.roll_button{type:'submit', value:'Roll again!'}
    - if @testing
      %hr
      %button{id: 'hide'} HIDE
      %hr
      %button{id: 'show'} SHOW
      %hr
      %button{onclick:"document.getElementById('dice_sound').play()" } TEST SOUND
