body{
    background-color: #262626;
    font-family:sans-serif;
    color:white;
    width:100%;
    height:100%;
}
/*.white_boxed{
    border-style: dashed;
    border-width: medium;
    border-color: white;
}

.yellow_boxed{
    border-style: dashed;
    border-width: medium;
    border-color: yellow;
}

.blue_boxed{
    border-style: dashed;
    border-width: medium;
    border-color: blue;
}
*/
.visible {
    visibility:visible;
    opacity:1;
    transition:opacity 0.75s ease;
}

.hidden {
    visibility:hidden;
    opacity:0;
    transition:opacity 0.75s ease;
}

.logo{
    position: absolute;
    top:0px;
    left:0px;
    height: 90%;
    margin: 5%;
    z-index: 0;
}

.action_box{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    position: relative;
    left: 40%;
    top:0;
    width: 50%;
    height: 60%;
}

.button_box{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    left: 40%;
    top:1%;
    width: 50%;
    height: 15%;
}

.chooser {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.result {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}

.big_button {
    margin: auto;
    position: absolute;
    /*left:90%;*/
    height: 100%;
    width: 100%;
    font-size: 275%;
    z-index: 3;
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 22px;
    font-family: Georgia;
    color: #ffffff;
    background: #b13938;
    background-image: -webkit-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -moz-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -ms-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -o-linear-gradient(top, #b13938, #8c2e2e);
    background-image: linear-gradient(to bottom, #b13938, #8c2e2e);
    border: solid #807676 4px;
    text-decoration: none;
}

.action_table{
    display: table;
    position: relative;
    top:0;
    margin: auto;
    width:100%;
    height: 100%;
    text-align: center;
}

.action_table tr{
    height: 33%
}

.action_table td{
    width: 33%
}

.die_image{
    width:50%;
    max-height:auto;
}

.die_button {
    width:85%;
    height: 55px;
    margin: 7%;
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    transition: width .5s ease, height .5s ease;
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 22px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 100%;
    background: #342b2b;
    border: solid #807676 4px;
    text-decoration: none;
}

.die_button_clicked {
    width:90%;
    height: 55px;
    background: #b13938;
    background-image: -webkit-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -moz-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -ms-linear-gradient(top, #b13938, #8c2e2e);
    background-image: -o-linear-gradient(top, #b13938, #8c2e2e);
    background-image: linear-gradient(to bottom, #b13938, #8c2e2e);
    text-decoration: none;
}

.top{
    z-index: 10;
}

.bottom{
    z-index: -10;
}

.tooltip {
    position: relative;
    width:100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    border-radius: 22px;
    border: solid #807676 4px;
    background-color: #342b2b;
    color: #fff;
    text-align: center;
    font-size: 100%;
}